@import url('https://fonts.googleapis.com/css2?family=Alice&family=Spectral+SC:ital,wght@0,400;0,700;1,400;1,700&family=Spectral:ital,wght@0,400;0,700;1,400;1,700&family=Style+Script&display=swap');

body{
    font-family: "Spectral", Garamond, serif;
    font-size: 16pt;
    color: #10040E;
}

button{
    font-family: "Spectral", Garamond, serif;
    color: #17A398;
    background-color: transparent;
    border: none;
    text-decoration: underline;
    padding: 0%;
    font-size: 16pt;
    cursor: pointer;
}

.contact{
    text-align: center;
}

.fancy{
    font-family: "Style Script", Georgia, serif;
    font-size: 35px;
}

.info a{
    color: #17A398;
    text-decoration: underline;
}

.navbar{
    background-color: #10040E;
    color: white;
}

.nav-link{
    color: #EEEEFF;
}
.nav-link:hover{
    color: #b8b8c5;
}

.row{
    margin-top: 20px;
}

.uxDes{
    font-family: "Alice", Georgia, serif;
    font-size: 35px;
}


/* Footer */
footer{
    background-color: #10040E;
    color: #EEEEFF;
    font-size: 10pt;
  }

.footList{
    font-size: 12pt;
    padding-left: 10px;
    padding-top: 5px;
}

.footList a{
    color: #EEEEFF;
    text-decoration: none;
}

.footList button{
    color: #EEEEFF;
    text-decoration: none;
    font-size: 12pt;
}

.footLI{
  display: inline;
}