@import url('https://fonts.googleapis.com/css2?family=Alice&family=Spectral+SC:ital,wght@0,400;0,700;1,400;1,700&family=Spectral:ital,wght@0,400;0,700;1,400;1,700&family=Style+Script&display=swap');

body{
    font-family: "Spectral", Garamond, serif;
    font-size: 16pt;
    color: #10040E;
}

.navbar{
    background-color: #10040E;
    color: white;
}

.nav-link{
    color: #EEEEFF;
}
.nav-link:hover{
    color: #b8b8c5;
}

.uxDes{
    font-family: "Alice", Georgia, serif;
    font-size: 35px;
}

.fancy{
    font-family: "Style Script", Georgia, serif;
    font-size: 35px;
}

.row{
    margin-top: 20px;
}

.contact{
    text-align: center;
}