@import url('https://fonts.googleapis.com/css2?family=Alice&family=Spectral+SC:ital,wght@0,400;0,700;1,400;1,700&family=Spectral:ital,wght@0,400;0,700;1,400;1,700&family=Style+Script&display=swap');

body{
    font-family: "Spectral", Garamond, serif;
    font-size: 16pt;
    color: #10040E;
}

.bold{
    font-weight: bold;
}

button{
    font-family: "Spectral", Garamond, serif;
    color: #17A398;
    background-color: transparent;
    border: none;
    text-decoration: underline;
    padding: 0%;
    font-size: 16pt;
    cursor: pointer;
}

.center{
    text-align: center;
}

.disclaimer{
    font-size: 14pt;
    text-align: center;
}

.fab{
    font-size: 50pt;
    padding: 20px;
    color: black;
}

.fa-bars{
    padding-top: 6px;
}

.fancy{
    font-family: "Style Script", Georgia, serif;
    font-size: 35px;
}

.info a{
    color: #17A398;
    text-decoration: underline;
}

.mw100{
    max-width: 100%;
}

.navbar{
    background:#000 url("../Images/stars.png") repeat top center;
    z-index:0;
    color: white;
}

.navbar-toggler{
    background-color: #EEEEFF;
    color: black;
}

.navbar-toggler-icon{
    color: black;
}

.nav-link{
    color: #EEEEFF;
}
.nav-link:hover{
    color: #b8b8c5;
}

.pad{
    padding: 20px;
}

.pad10{
    padding: 10px;
}

.pad50{
    padding: 50px;
}

.pgHead{
    padding: 30px;
    font-family: "Alice", Georgia, serif;
}

.row{
    margin-top: 20px;
    margin-bottom: 30px;
}

.uxDes{
    font-family: "Alice", Georgia, serif;
    font-size: 35px;
}

.works{
    margin-bottom: 50px;
    text-align: center;
}
.works img{
    outline: 1px solid rgb(204, 204, 204);
}

/* Footer */
footer{
    background-color: #10040E;
    color: #EEEEFF;
    font-size: 10pt;
    margin-bottom: 0;
    bottom: 0;
}

.footList{
    font-size: 12pt;
    padding-left: 10px;
    padding-top: 5px;
}

.footList a{
    color: #EEEEFF;
    text-decoration: none;
}
.footList a:hover{
    color: #b8b8c5;
}

.footList button{
    color: #EEEEFF;
    text-decoration: none;
    font-size: 12pt;
}

.footLI{
  display: inline;
}

.copyright{
    margin-bottom: 0;
}

/* Skills */
.listHead{
    font-size: 20pt;
    text-decoration: underline;
    font-family: "Alice", Georgia, serif;
    color: black;
    background-color: transparent;
    outline: none;
    border: none;
    transition: none;
}
.listHead:hover{
    color: black;
    background-color: transparent;
}
.listHead:focus{
    color: black;
    background-color: transparent;
    border: none;
    box-shadow: none;
    text-decoration: underline;
}

.miscSkills li{
    display: inline;
    padding: 1px;
}

.miscSkills ul{
    padding-inline-start: 0;
}

.resumeDL{
    margin-top: 65px;
}

.skills .btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus,
.show>.btn-primary.dropdown-toggle{
    color: black;
    background-color: transparent;
    border: none;
    box-shadow: none;
    text-decoration: underline;
}

.skills .col-sm{
    text-align: center;
}

.skills li{
    text-align: left;
}

/* Works */
.carousel-caption{
    background-color: rgba(150, 150, 150, 0.8);
}

.carousel-control-prev-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23808080' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}   
.carousel-control-next-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23808080' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.carousel-item{
    height: 500px;
    width: 1000px;
}
.carousel-item img{
    margin: auto;
}

.caseBack{
    margin-top: 15px;
    text-align: left;
    padding-left: 10px;
}

.caseBack a{
    color: #441151;
}

.features{
    max-width: 100%;
    padding-top: 15px;
}

.featureStatement{
    padding: 20px;
}

.flow{
    padding: 30px;
}

.mApp{
    padding-top: 0;
}

.miniNav{
    color: #621475;
}

.playButton{
    background-color: #441151;
    color: #EEEEFF;
    padding: 4px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    text-decoration: none;
}
.playButton:hover{
    color: #b8b8c5;
    text-decoration: underline;
}

.projHead{
    padding-bottom: 20px;
    padding-left: 35px;
}

#protoPT img{
    max-width: 100%;
}

.purple{
    padding: 0;
    margin-top: -40px;
    color: #621475;
}

.quotePT{
    padding-top: 20px;
    padding-bottom: 10px;
    color: #621475;
    font-style: italic;
    text-align: center;
}

#research{
    padding: 80px;
    text-align: center;
}

.sideNote{
    font-size: 14pt;
}

.statement{
    padding: 50px;
}

#statementsPT{
    padding: 50px;
    text-align: center;
}

.stickies{
    max-width: 80%;
}

.sticky{
    text-align: center;
}

.subNav{
    padding: 50px;
    padding-bottom: 80px;
}

.summ{
    font-size: 22pt;
    padding: 50px;
}

#testingPT i{
    color: gray;
}

.tFlow{
    max-width: 100%;
    margin-top: -30px;
}

.uPersona{
    text-align: right;
    padding: 0;
    margin: 0;
}

.uStatementPT{
    color: rgb(118, 56, 177);
    font-style: italic;
    font-size: 18pt;
    padding: 5px;
}

.wireframe{
    max-height: 80%;
}

.works h4{
    padding-bottom: 10px;
}

/* Starry Banner */
@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}


.twinkling{
    background:transparent url("../Images/twinkling.png") repeat top center;
    z-index:1;

    -moz-animation:move-twink-back 200s linear infinite;
    -ms-animation:move-twink-back 200s linear infinite;
    -o-animation:move-twink-back 200s linear infinite;
    -webkit-animation:move-twink-back 200s linear infinite;
    animation:move-twink-back 200s linear infinite;
    width: 100%;
    height: 100%;
}

/* General IDs */
#content-wrap{
    padding-bottom: 4.5rem;    /* Footer height */
}

#footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4.5rem;            /* Footer height */
}

#page-container{
    position: relative;
    min-height: 100vh;
}